*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

header{
    height: 10%;
    width :100%;
    color:#fff;
    background-color: rgb(99, 65, 65);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

ul{
    display: flex;
    list-style: none;
}

h1{
    margin-left: 20px;
    cursor: pointer;
}

.form{
    display: flex;
}
p{
    margin: 0px 20px 0px 10px;
    cursor: pointer;
}
header p:hover{
    color:grey;
}

li{
    margin: 0px 20px 0px 20px;
    text-transform: uppercase;
    cursor: pointer;
}

li:hover{
    color: rgb(234, 171, 171);
}


/* main contect */

.content{
    position: absolute;
    top: 40vh;
    left: 16vw;
    color: #fff;
    font-family: "wixui-rich-text";
    display: flex;
    flex-direction: column;
    font-size: 2em;
}

.content h1 {
    margin-left:0;
}
.content p{
    margin-left: 0;
}

.click{
    padding: 10px 40px 10px 40px;
    background-color: transparent;
    border: 1px solid #fff;
    color: white;
    height: 45px;
    width: 130px;
    margin-top: 40px;
    font-weight: 700;
}

button:hover{
    background-color: #fff;
    color:#111;
}
